body {
    font-family: Arial, sans-serif;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: #121212;
    color: #ffffff;
    height: 100vh;
    overflow: hidden;
}
.content-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}
.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.score-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}
.game-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px;
    border-radius: 10px;
    height: 20%;
}
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
